.announce-container {
  width: 100%;
  height: auto;
  .announce-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    img {
      position: absolute;
      left: 0.6rem;
      top: 50%;
      transform: translateY(-50%);
      max-width: 100%;
      height: auto;
    }

    .left-blur {
      position: absolute;
      left: 1.7rem;
      height: 100%;
      width: 1.5rem;
      z-index: 2;
      background: rgba(63, 103, 120, 0.02);
      backdrop-filter: blur(0.15rem);
    }
    .right-blur {
      position: absolute;
      z-index: 2;
      right: 0;
      height: 100%;
      width: 1.5rem;
      background: rgba(63, 103, 120, 0.02);
      backdrop-filter: blur(0.15rem);
    }

    .announce-article {
      width: 100%;
      padding-left: 2.3rem;

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 990px) {
  .announce-container {
    padding: 0.3rem 0.1rem;
    .announce-wrapper {
      .announce-icon {
        img {
        }
      }
      .left-blur {
      }
      .right-blur {
        right: -0.1rem;
      }

      .announce-article {
        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
