.announce-flow {
  display: flex;
  flex-direction: row;

  .band-name {
    font-weight: 600;
  }

  .location-name {
    font-weight: 400;
    margin-left: 0.5rem;
  }

  .condition-info {
    font-weight: 400;
  }
}
