.announce-container {
  width: 100%;
  .announce-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    .announce-icon {
      display: grid;
      place-items: center;
      margin-left: 0.5rem;
      img {
        width: 0.7rem;
        height: 1.2rem;
      }
    }
    .left-blur {
      position: absolute;
      left: 1.3rem;
      height: 2rem;
      width: 2%;
      z-index: 2;
      background: rgba(63, 103, 120, 0.02);
      backdrop-filter: blur(0.15rem);
      border-radius: 0rem 0.2rem 3rem 0rem;
    }
    .right-blur {
      position: absolute;
      z-index: 2;
      right: 0rem;
      height: 2rem;
      width: 2%;
      background: rgba(63, 103, 120, 0.02);
      backdrop-filter: blur(0.15rem);
      border-radius: 0rem 0.2rem 3rem 0rem;
    }

    .announce-article {
      width: 100%;
      margin-left: 0.6rem;
      

      p {
        font-size: 0.9rem;
      }
    }
  }
}

@media (max-width: 800px) {
  .announce-container {
    
    .announce-wrapper {
     
      .announce-icon {
        
        img {
          width: 1.5rem;
          height: 2rem;
        }
      }
      .left-blur {
        left: 2rem;
        
      }
      .right-blur {
        
      }

      .announce-article {
        width: 95%;

        p {
          font-size: 1.3rem;
        }
      }
    }
  }
}
