.detail-container {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  .img-section {
    width: 100%;
    height: 54%;
    border-radius: 0.2rem 0.2rem 0rem 0rem;
    // background-image: url(../../../public/assets/banners/detailBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    // img {
    //   width: 100%;
    //   height: auto;
    // }
  }
  .descriptions {
    width: 100%;
    height: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid;
    // border-image: linear-gradient(
    //     to right,
    //     rgba(255, 255, 255, 0),
    //     rgba(39, 191, 255, 0.55),
    //     rgba(224, 246, 255, 0.19),

    //   )
    //   1;
    border-radius: 0.25rem;
    background: linear-gradient(
      180deg,
      rgba(63, 103, 120, 0) 0%,
      rgba(63, 103, 120, 0) 0.01%,
      rgba(63, 103, 120, 0.42) 47.68%,
      rgba(63, 103, 120, 0.5) 100%
    );
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    .description-wrapper {
      width: 95%;
      height: 95%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .detail-title {
        width: 100%;
        height: 100%;
        font-weight: 700;
        margin-top: 0.5rem;
        font-size: 1.9rem;
      }

      .info-container {
        width: 98%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .infos {
          width: 55%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .infos-item {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
              width: 1.5rem;
              height: 1.5rem;
              margin-right: 0.7rem;
            }

            div {
              font-weight: 400;
              font-size: 1rem;
            }
          }
        }

        .actions {
          width: 35%;
          display: flex;
          flex-direction: row;
          justify-content: right;
          button {
            color: #ffffff;

            height: 2.7rem;
            font-weight: 400;
            font-size: 0.9rem;
            font-family: "Poppins";
            font-style: normal;
            border: none;
          }

          .buy-now {
            width: 25%;
            background: #008c16;
            box-shadow: -0.1rem 0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.25);
            border-radius: 0.25rem;
          }

          .add-calendar {
            width: 45%;
            background: rgba(39, 191, 255, 0.55);
            box-shadow: -0.1rem 0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.25);
            border-radius: 0.25rem;
            margin-left: 2rem;
          }
        }
      }
      .status {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .statu {
          width: 11%;
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 0.7rem;
            height: 0.7rem;
            margin-right: 0.5rem;
          }
        }

        .count-down {
          width: 30%;
          display: flex;
          flex-direction: row;
          align-items: center;
          img {
            width: 0.7rem;
            height: 0.7rem;
            margin-right: 0.5rem;
          }
          div {
            font-weight: 500;
            font-size: 1rem;
          }
        }
      }

      .description-section {
        display: flex;
        flex-direction: column;
        margin-top: 0.7rem;
        // overflow-y: scroll;

        .description-title {
          font-weight: 600;
          font-size: 1.3rem;
          margin-bottom: 0.2rem;
        }
        .description {
          font-weight: 200;
          font-size: 1.3rem;

          p {
          }
        }
      }

      .expand-all {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .article {
          margin-top: 0.5rem;
          font-weight: 300;
          font-size: 1rem;
          line-height: 24px;
        }
        img {
          width: 1.3rem;
          height: 1.3rem;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .detail-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    .img-section {
      width: 100%;
      height: 46%;
      border-radius: 0.2rem 0.2rem 0rem 0rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .descriptions {
      width: 100%;
      height: 53%;
      display: flex;
      justify-content: center;
      align-items: center;
      // border: 1px solid;
      // border-image: linear-gradient(
      //     to right,
      //     rgba(255, 255, 255, 0),
      //     rgba(39, 191, 255, 0.55),
      //     rgba(224, 246, 255, 0.19),

      //   )
      //   1;
      border-radius: 0.25rem;
      background: linear-gradient(
        180deg,
        rgba(63, 103, 120, 0) 0%,
        rgba(63, 103, 120, 0) 0.01%,
        rgba(63, 103, 120, 0.42) 47.68%,
        rgba(63, 103, 120, 0.5) 100%
      );
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      .description-wrapper {
        width: 95%;
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .detail-title {
          width: 100%;
          height: 100%;
          font-weight: 700;
          margin-top: 0.5rem;
          font-size: 1.9rem;
        }

        .info-container {
          width: 98%;
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .infos {
            width: 55%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .infos-item {
              display: flex;
              flex-direction: row;
              justify-content: left;
              align-items: center;
              img {
                width: 1.5rem;
                height: 1.5rem;
                margin-right: 0.7rem;
              }

              div {
                font-weight: 400;
                font-size: 1rem;
              }
            }
          }

          .actions {
            width: 35%;
            display: flex;
            flex-direction: column;
            justify-content: right;
            button {
              color: #ffffff;

              height: 2.7rem;
              font-weight: 400;
              font-size: 0.9rem;
              font-family: "Poppins";
              font-style: normal;
              border: none;
            }

            .buy-now {
              width: 75%;
              background: #008c16;
              box-shadow: -0.1rem 0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.25);
              border-radius: 0.25rem;
            }

            .add-calendar {
              width: 75%;
              background: rgba(39, 191, 255, 0.55);
              box-shadow: -0.1rem 0.25rem 0.5rem -0.2rem rgba(0, 0, 0, 0.25);
              border-radius: 0.25rem;
              margin: 0;
            }
          }
        }
        .status {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          .statu {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              width: 0.7rem;
              height: 0.7rem;
              margin-right: 0.5rem;
            }
          }

          .count-down {
            width: 30%;
            display: flex;
            flex-direction: row;
            align-items: center;
            img {
              width: 0.7rem;
              height: 0.7rem;
              margin-right: 0.5rem;
            }
            div {
              font-weight: 500;
              font-size: 1rem;
            }
          }
        }

        .description-section {
          display: flex;
          flex-direction: column;
          margin-top: 0.7rem;

          .description-title {
            font-weight: 600;
            font-size: 1.3rem;
            margin-bottom: 0.2rem;
          }
          .description {
            font-weight: 200;
            font-size: 1.3rem;
          }
        }

        .expand-all {
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          .article {
            margin-top: 0.5rem;
            font-weight: 300;
            font-size: 1rem;
            line-height: 24px;
          }
          img {
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }
  }
}
