.searchbar-container {
  width: 100%;
  padding: 0.2rem 0.7rem;
  .searchbar-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .searchbar-icon {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      img {
        max-width: 100%;
        height: auto;
      }
    }

    .search-input {
      width: 100%;
      display: flex;
      justify-content: center;
      input {
        width: 100%;
        padding: 0.2rem 0.65rem;
        font-size: 0.8rem;
        border: none;
        background-color: transparent;
        resize: none;
        font-weight: 500;
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-size: 0.8rem;
          font-weight: 500;
          opacity: 0.8;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .searchbar-container {
    padding: 0.5rem 1.4rem;
    .searchbar-wrapper {
      .searchbar-icon {
        img {
        }
      }

      .search-input {
        input {
          font-size: 1.3rem;
          padding: 0.2rem 1.25rem;
          &:focus {
            outline: none;
          }
          &::placeholder {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
