.carusel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .carusel-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
    // .carusel-title {
    //   width: 100%;
    //   height: 24%;
    //   display: flex;
    //   flex-direction: row;
    //   justify-content: space-between;
    //   align-items: center;
    //   .title-left {
    //     width: 36%;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: space-between;
    //     align-items: center;
    //     .toggled-title-left {
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: left;
    //       //align-items: center;
    //       p {
    //         margin: 0;
    //         font-weight: 700;
    //         font-size: 1.7rem;
    //       }
    //       img {
    //         width: 5rem;
    //       }
    //     }
    //     .title-left-item {
    //       width: 20%;
    //       display: flex;
    //       flex-direction: row;
    //       justify-content: center;
    //       align-items: center;
    //       p {
    //         margin: 0 0 0 0.3rem;
    //         font-weight: 500;
    //         font-size: 1.2rem;
    //       }

    //       img {
    //         height: 1.4rem;
    //         width: 0.3rem;
    //       }
    //     }
    //   }
    //   .title-right {
    //     .see-all {
    //       color: rgba(0, 179, 255, 0.8);
    //       font-weight: 600;
    //       font-size: 1rem;
    //     }
    //   }
    // }

    .carusel-blur {
      position: absolute;
      width: calc(18.5% * 1.5);
      height: 18rem;
      z-index: 2;
      top: 2%;
      right: -1%;
      background-color: rgba($color: #000000, $alpha: 0.05);
      backdrop-filter: blur(1.5px);
      // border: 1px solid white;
    }
  }
}

.splide {
  & > div > button {
    display: flex;
    position: absolute;
    cursor: pointer;
    z-index: 3;
    top: 40%;
    transform: translateY(-40%);
    width: 2rem;
    height: 2.7rem;
    border-radius: 0.4rem;
    background: #00abf2;
    border: none;
    display: grid;
    place-content: center;
    &:hover {
      background-color: #00b2fd;
      opacity: 0.6;
      // scale: 0.9;
      transition: all 400ms;
    }
    & > svg {
      width: 1.7rem;
      height: 1.7rem;
      // color: #fff !important;
    }
  }
}

@media (max-width: 990px) {
  .carusel-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 0 5px;
    .carusel-wrapper {
      display: flex;
      position: relative;
      width: 100%;
      height: 100%;
      color: #ffffff;
      // .carusel-title {
      //   width: 100%;
      //   height: 24%;
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-between;
      //   align-items: center;
      //   .title-left {
      //     width: 36%;
      //     display: flex;
      //     flex-direction: row;
      //     justify-content: space-between;
      //     align-items: center;
      //     .toggled-title-left {
      //       display: flex;
      //       flex-direction: column;
      //       justify-content: left;
      //       //align-items: center;
      //       p {
      //         margin: 0;
      //         font-weight: 700;
      //         font-size: 1.7rem;
      //       }
      //       img {
      //         width: 5rem;
      //       }
      //     }
      //     .title-left-item {
      //       width: 20%;
      //       display: flex;
      //       flex-direction: row;
      //       justify-content: center;
      //       align-items: center;
      //       p {
      //         margin: 0 0 0 0.3rem;
      //         font-weight: 500;
      //         font-size: 1.2rem;
      //       }

      //       img {
      //         height: 1.4rem;
      //         width: 0.3rem;
      //       }
      //     }
      //   }
      //   .title-right {
      //     .see-all {
      //       color: rgba(0, 179, 255, 0.8);
      //       font-weight: 600;
      //       font-size: 1rem;
      //     }
      //   }
      // }
    }
  }
  .splide {
    & > div > button {
      display: none;
    }
  }
}
