.home-page-container {
  height: auto;
  width: 100%;

  .home-page-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .slider-section {
      width: 100%;
      height: 60%;
    }

    .carusel-section {
      width: 100%;
      height: 38%;
    }
  }
}

@media (max-width: 990px) {
  .home-page-container {
    .home-page-wrapper {
      .slider-section {
        width: 100%;
        height: auto;
      }

      .carusel-section {
        width: 100%;
        height: auto;
      }
    }
  }
}
