.sliders-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  .sliders-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    color: #ffffff;
    .upcoming-events {
      position: absolute;
      right: 5rem;
      top: 3rem;
      margin: 0;
      padding: 0;
      z-index: 5;
      animation-duration: 2s;
      animation-name: slideOut;
      animation-timing-function: ease-in;
      .up-article {
        margin: 0;
        font-weight: 400;
        font-size: 2.2rem;
        text-align: right;
        line-height: 1rem;
      }
      .down-article {
        margin: 0;
        font-weight: 600;
        font-size: 3.2rem;
        text-align: right;
      }
      .check-button {
        display: flex;
        justify-content: right;
        cursor: pointer;
        button {
          color: #ffffff;
          width: 7rem;
          height: 2.5rem;
          background: #00b2fd;
          border-radius: 0.4rem;
          font-size: 1.15rem;
          border: none;
          cursor: pointer;
          transition: all 400ms;
          &:hover {
            background-color: #00b2fd;
            // opacity: 0.6;
            filter: brightness(50%);
          }
        }
      }
    }
    .splide {
      & > div > div > button {
        display: flex;
        position: absolute;
        cursor: pointer;
        z-index: 3;
        top: 45%;
        transform: translateY(-45%);
        width: 2rem;
        height: 2.7rem;
        border-radius: 0.4rem;
        background: rgba(216, 216, 216, 0.56);
        border: none;
        display: grid;
        place-content: center;
        &:hover {
          background-color: #00b2fd;
          opacity: 0.6;
          // scale: 0.9;
          transition: all 400ms;
        }
        & > svg {
          width: 1.7rem;
          height: 1.7rem;
          // color: #fff !important;
        }
      }
    }
    .splide {
      & > div > ul {
        width: 10rem;
        height: 2rem;
        backdrop-filter: blur(1px);
        left: calc(100% - 12.5rem);
        bottom: 1.5rem;
        & li button {
          // width: 6px;
          // height: 6px;
        }
      }
    }

    .slider-item {
      transition: all 600ms;
      .slider-background {
        width: 100%;
        height: auto;
      }

      .slider-info {
        position: absolute;
        height: 8rem;
        width: 10rem;
        bottom: 0;
        right: 4.5rem;
        .dot-title {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;
          animation-duration: 2s;
          animation-name: slideOut;
          animation-timing-function: ease-in;
          img {
            width: 1rem;
            height: 1rem;
          }
          p {
            margin: 0 0 0 0.4rem;
            font-size: 1.25rem;
            font-weight: 600;
          }
        }
        .dot-date {
          margin-bottom: 1rem;
          animation-duration: 2s;
          animation-name: slideOut;
          animation-timing-function: ease-in;
          p {
            text-align: right;
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
          }
        }
      }
      &:hover {
        filter: brightness(75%);
      }
    }
  }
}

@media (max-width: 990px) {
  .sliders-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .sliders-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      color: #ffffff;
      overflow-y: hidden;
      .splide {
        & > div > div > button {
          display: none !important;
        }
      }
      .upcoming-events {
        right: 2rem;
        top: 3rem;
        .up-article {
          font-size: 1.2rem;
          line-height: 1rem;
        }
        .down-article {
          font-size: 2.2rem;
        }
        .check-button {
          button {
            font-size: 1rem;
          }
        }
      }
      .splide {
        .slider-item {
          .slider-info {
            position: absolute;
            height: 8rem;
            width: 10rem;

            right: 2.5rem;
            .dot-title {
              display: flex;
              flex-direction: row;
              justify-content: flex-end;
              align-items: center;
              animation-duration: 2s;
              animation-name: slideOut;
              animation-timing-function: ease-in;
              img {
                width: 1rem;
                height: 1rem;
              }
              p {
                margin: 0 0 0 0.4rem;
                font-size: 1.25rem;
                font-weight: 600;
              }
            }
            .dot-date {
              margin-bottom: 1rem;

              p {
                text-align: right;
                margin: 0;
                font-weight: 500;
                font-size: 1rem;
              }
            }
          }
          &:hover {
            filter: brightness(75%);
          }
        }
      }
    }
  }

  .splide {
    & > div > ul {
      width: 10rem;
      height: 2rem;
      backdrop-filter: blur(1px);
      left: calc(100% - 10.5rem) !important;
      bottom: 1rem !important;
      & li button {
        width: 5px;
        height: 5px;
      }
    }
  }
}

@keyframes slideOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
