* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  color: #ffffff;
}

body {
  width: 100% !important;
  min-height: 100vh !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body #root {
  width: 100% !important;
  min-height: 100vh !important;
}

input,
button,
textarea,
a {
  font-family: inherit;
  color: #ffffff;
}

input::placeholder,
textarea::placeholder {
  color: #ffffff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media (max-width: 1620px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 1350px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 10px;
  }
}
