.events-item-container {
  color: #ffffff;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: rgba(31, 46, 52, 0.45);
  box-shadow: -0.05rem 0.25rem 0.4rem 0.1rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    180deg,
    rgba(63, 103, 120, 0.45) 0%,
    rgba(63, 103, 120, 0) 0.01%,
    rgba(63, 103, 120, 0.42) 47.68%,
    rgba(63, 103, 120, 0.5) 100%
  );
  // border-radius: 0.35rem;
  border: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13),
      rgba(39, 191, 255, 0.55)
    )
    1;

  //   opacity: 0.53;
  //   filter: blur(2px);
  p {
    margin: 0;
  }

  &:hover {
    // scale: 1.03;
    transition: all 500ms;
    transform: translate(0%, 2%);
    animation: borderAnimation 2s infinite;
  }

  .events-img {
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    // img {
    //   max-width: 100%;
    //   // height: 9rem;
    //   height: auto;
    //   border-radius: 0.2rem 0.2rem 0 0;
    // }
  }

  .sub-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .title-section {
      .events-item-title {
        margin-left: 0.8rem;
        margin-top: 0.6rem;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;

        p {
          font-weight: 700;
          font-size: 1.1rem;
        }
      }
    }

    .events-item-description {
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 300;
      font-size: 0.8rem;
      // font-size: 0.75vw;
      margin: 0.25rem 0.75rem 0.75rem 0.75rem;
      max-width: 100%;
      min-height: 2rem;
      line-height: 1.3rem;
      word-wrap: break-word;
    }

    .events-item-actions {
      width: 100%;
      height: auto;
      .cancelled {
        width: 100%;
        background-color: #000000;
        padding: 0.35rem 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;

          img {
            position: absolute;
            left: -1.5rem;
            max-width: 1.2rem;
            height: auto;
          }
          p {
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 0.75rem;
            font-family: "Poppins";
            font-style: normal;
          }
        }
      }
      .sold-out {
        width: 100%;
        background-color: #c4161c;
        padding: 0.35rem 0.7rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        div {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: relative;

          img {
            position: absolute;
            left: -1.5rem;
            max-width: 1.2rem;
            height: auto;
          }
          p {
            margin: 0;
            padding: 0;
            font-weight: 500;
            font-size: 0.75rem;
            font-family: "Poppins";
            font-style: normal;
          }
        }
      }
      button {
        width: 50%;
        height: auto;
        padding: 0.35rem 0.7rem;
        border: none;
        color: #ffffff;
        font-weight: 500;
        font-size: 0.75rem;
        font-family: "Poppins";
        font-style: normal;
        cursor: pointer;
      }
      .buy-now {
        background: #00b2fd;
        // border-radius: 0 0 0.2rem 0;
        transition: background-color 0.4s ease-in-out;
        position: relative;
        cursor: pointer;
        &:hover {
          background: linear-gradient(to right, #0c4b78, #3d8ce7);
          background-size: 200% auto;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: gradient 1s ease infinite;
        }
      }

      .save {
        background: #008c16;
        // border-radius: 0 0 0 0.2rem;
        transition: background-color 0.4s ease-in-out;
        position: relative;
        cursor: pointer;
        &:hover {
          background: linear-gradient(to right, #005a0e, #00af1a);
          background-size: 200% auto;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: gradient 1s ease infinite;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .events-item-container {
    .events-item-actions {
      button {
        font-size: 0.6rem;
      }
    }
  }
}

@keyframes borderAnimation {
  0% {
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13),
      rgba(39, 191, 255, 0.55)
    );
  }
  50% {
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      rgba(39, 191, 255, 0.55),
      rgba(255, 255, 255, 0.13)
    );
  }
  100% {
    border-image-slice: 1;
    border-image-source: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13),
      rgba(39, 191, 255, 0.55)
    );
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
