.layout-container {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 10rem;
  background-image: url(../../../public/assets/banners/rightBottomElipse.png),
    url(../../../public/assets/banners/rightTopElipse.png),
    url(../../../public/assets/banners/leftTopElipse.png),
    url(../../../public/assets/banners/leftCenterElipse2.png),
    url(../../../public/assets/banners/leftCenterElipse1.png),
    linear-gradient(180deg, #00141d 0%, #000000 100%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat;
  background-position: right bottom, right top, left top, left center,
    left bottom;
  background-size: 47rem, 11rem, 30rem, 12rem, 10rem, cover;

  backdrop-filter: blur(2rem);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/banners/rightBottomElipse.png),
      url(../../../public/assets/banners/rightTopElipse.png),
      url(../../../public/assets/banners/leftTopElipse.png),
      url(../../../public/assets/banners/leftCenterElipse2.png),
      url(../../../public/assets/banners/leftCenterElipse1.png),
      linear-gradient(180deg, #00141d 0%, #000000 100%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
      no-repeat;
    background-position: right bottom, right top, left top, left center,
      left bottom;
    background-size: 47rem, 11rem, 30rem, 12rem, 10rem, cover;
    overflow: hidden;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
    z-index: -15;
  }

  .layout-contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding: 2.5rem 0rem;
    width: 100%;
    min-height: 100vh !important;
    .main-content {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      .left-column {
        width: 74%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        .up-section {
          display: flex;
          flex-direction: row;
          color: #ffffff;
          gap: 1rem;
          height: auto;
          .searchbar {
            width: 26%;
            height: auto;
            background: rgba(63, 103, 120, 0.45);
            border-bottom: 2px solid rgba(255, 255, 255, 0.45);
            box-shadow: -0.08rem 0.3rem 0.4rem -0.15rem rgba(0, 0, 0, 0.25);
            border-radius: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .announcements {
            height: auto;
            width: 72%;
            background: rgba(63, 103, 120, 0.45);
            box-shadow: 0rem 0.35rem 0.35rem rgba(0, 0, 0, 0.25);
            border-radius: 0.35rem;
            border: 1px solid rgba(63, 103, 120, 0.45);
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }

        .down-section {
          height: auto;
          .changed-content {
            height: 100%;
          }
        }
      }
      .right-column {
        // height: 57rem;
        height: auto;
        width: 24%;
      }
    }
    .main-footer {
      height: 17.6rem;
    }
  }
}

@media (max-width: 990px) {
  .layout-container {
    padding: 0 1.5rem;
    .layout-contents {
      display: flex;
      flex-direction: column;
      .main-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        .left-column {
          width: 100%;
          .up-section {
            display: flex;
            flex-direction: column;

            .searchbar {
              width: 100%;
              height: auto;
            }
            .announcements {
              width: 100%;
              height: auto;
            }
          }

          .down-section {
          }
        }
        .right-column {
          width: 100%;
          height: auto;
        }
      }
      .main-footer {
        height: 30rem;
      }
    }
  }
}
