.nextup-container {
  background: rgba(63, 103, 120, 0.3);
  box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  border: 1px solid;
  border-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.13),
      rgba(39, 191, 255, 0.55)
    )
    1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.3rem 2rem;
  // border-color: linear-gradient(to right,rgba(255, 255, 255, 0.13), rgba(39, 191, 255, 0.55)  ) 1;

  .nextup-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nextup-title {
      font-weight: 700;
      font-size: 1.6rem;
    }
    .nextup-content {
      height: 100%;
      margin-top: 0.5rem;
      padding: 1.5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 2rem;
      .splide > ul {
        bottom: -25px;
      }
      .empty-nextup {
        width: 100%;
        height: auto;
      }
    }
    .nextup-footer {
      color: rgba(0, 179, 255, 0.8);
      display: flex;
      font-weight: 600;
      font-size: 1.2rem;
      justify-content: center;
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  .dot-container {
    z-index: -2;
    width: 6.8rem;
    height: 1.7rem;
    backdrop-filter: blur(2px);
  }
  .dot {
    position: absolute;
    width: 9%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 0.5rem;
      height: 0.5rem;
    }
  }
}

@media (max-width: 990px) {
  .nextup-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-color: linear-gradient(to right,rgba(255, 255, 255, 0.13), rgba(39, 191, 255, 0.55)  ) 1;
    padding: 3rem 2rem;
    .nextup-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .nextup-title {
        font-weight: 700;
        font-size: 1.9rem;
      }
      .nextup-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 0;
        margin-top: -1.5rem;
        .splide {
          & > div > button {
            display: none;
          }
        }
        .splide > ul {
          bottom: -5px;
        }
      }
    }
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  .dot-container {
    z-index: -2;
    width: 6rem;
    height: 1.7rem;
    backdrop-filter: blur(2px);
  }
  .dot {
    position: absolute;
    width: 4rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    img {
      width: 0.6rem;
      height: 0.6rem;
    }
  }
}
